[2017-04-11 14:03] MrPowers opened #1 "assertSmallRDDEquality bug"
Here is the code that errors out:

[code]

This is the error:

[error] /Users/powers/Documents/code/my_apps/spark-spec/src/test/scala/com/github/mrpowers/spark/spec/rdd/RDDSpec.scala:439: type mismatch;
[error]  found   : org.apache.spark.rdd.RDD[(String, Long)]
[error]  required: org.apache.spark.rdd.RDD[(Any, Any)]
[error] Note: (String, Long) <: (Any, Any), but class RDD is invariant in type T.

[2017-04-17 21:10] MrPowers commented on #1
I was able to get this working, possibly because I added `fork in Test := true` and possible for some other unknown reason.

[2017-04-17 21:10] #1 closed

[2017-05-15 05:18] MrPowers opened #2 "Add a assertSmallDatasetEquality method"
There is an `assertDataFrameEquality` method and we need to add an `assertSmallDatasetEquality` for Dataset comparisons.

@snithish found a temporary work-around [here](https://github.com/MrPowers/spark-spec/blob/master/src/test/scala/com/github/mrpowers/spark/spec/sql/DatasetSpec.scala#L1138).

It'll be good to get a longer term solution.

[2017-05-15 05:20] snithish opened #3 "Repurposing DataFrameComparer to compare Dataset"
@MrPowers I was wondering if we can repurpose DataframeComparer to compare Datasets too, since Dataframe is nothing but `Dataset[Row]` we can use Generics to use the same trait for Dataset.

I think

`def assertSmallDataFrameEquality[T](actualDS: Dataset[T], expectedDS: Dataset[T])`

`def assertLargeDataFrameEquality[T](actualDS: Dataset[T], expectedDS: Dataset[T])`

can be used with the exact sam

[2017-05-15 05:22] snithish commented on #2
@MrPowers #3 does feel like a good long term fix.

[2017-05-15 05:26] MrPowers commented on #3
@snithish - Yea, your suggestion sounds awesome!

Can you please submit a pull request?  Thanks!

[2017-05-15 05:27] snithish commented on #3
@MrPowers I am working on it, will raise one by the end of the week.

[2017-05-15 05:29] MrPowers commented on #3
@snithish - Awesome, thanks for the help.  Feel free to ping me anytime if you need anything!

[2017-05-16 04:48] snithish commented on #3
@MrPowers what is the reason behind having `assertSmallDataFrameEquality` and `assertLargeDataFrameEquality`. I am thinking we could have a single assertEquality method which will look at schema mismatch, count mismatch and prints out only unequal rows in both datasets.

Error format would be Row ("Alice", 12) not present in expectedDF.

Thoughts?

[2017-05-17 16:36] MrPowers commented on #3
@snithish - Sorry for the delayed response.

`assertSmallDataFrameEquality` is significantly faster than `assertLargeDataFrameEquality`.  `assertLargeDataFrameEquality` uses the same approach as `assertDataFrameEquals` in [spark-testing-base](https://github.com/holdenk/spark-testing-base).

The spark-spec test suite ran about 50% faster when I replaced `assertDataFrameEquals` with `assertSmallData

[2017-05-17 16:38] MrPowers opened #4 "Benchmarking assertSmallDataFrameEquality and assertLargeDataFrameEquality"
I'd like to run some official benchmarking analyses to quantify how much faster `assertSmallDataFrameEquality` is than `assertLargeDataFrameEquality`.

I'm not sure how to run these benchmarking studies in the Scala / Spark environment.

[2017-05-17 17:14] MrPowers opened #5 "Managing the Spark Session"
In the [spark-fast-tests README](https://github.com/MrPowers/spark-fast-tests#usage), we encourage users to wrap the Spark Session in a trait and mix in the trait to test classes that need access to the Spark Session.

[code]

The spark-testing-base library uses the [EvilSessionTools approach](https://github.com/holdenk/spark-testing-base/blob/38cada03f9c34aafea97210957dd32718628f0d7/src/main/2.0/

[2017-05-17 17:24] eclosson commented on #5
I think this is a sound approach. If there is a strong need for helpers that make creating and accessing a spark session easier probably better to include that in a different library.

[2017-05-18 02:34] snithish commented on #5
Abstracting out Spark Session from testing framework is a good thought. It's Dependency Injection done right.

[2017-05-18 02:52] snithish commented on #3
@MrPowers Totally agree performance considerations and driver node issue. #4 would be really good.
Wondering if we could have a `assertEquals[U](expected: Dataset[U], result: Dataset[U])` which would indirectly call `assertSmallDataFrameEquality` and `assertLargeDataFrameEquality` depending on the size of dataset.

[2017-05-18 04:11] MrPowers commented on #5
@eclosson @snithish - Thanks for the feedback.  I'm going to open an issue in the spark-testing-base library and see if they would consider removing the SparkSession management from DataFrameSuiteBase.  I'd like the good ideas we develop in this testing framework to get reflected in the spark-testing-base repo as well since it's more popular.

[2017-05-19 16:32] MrPowers commented on #5
@eclosson @snithish - I created an issue in the spark-testing-base repo: https://github.com/holdenk/spark-testing-base/issues/186  Feel free to chime in on the issue if you'd like to add anything.

[2017-05-23 20:00] MrPowers commented on #5
I'm confident that we're managing the Spark Session correctly in this package.  I'll try to submit a pull request to spark-testing-base soon to separate out the Spark Session from DataFrame suite base.  Thanks for the feedback.

[2017-05-23 20:00] #5 closed

[2017-05-28 22:19] MrPowers commented on #3
@snithish - I am working on #6 to move from `assertSmallDataFrameEquality` to `assertSmallDatasetEquality`.  `assertSmallDatasetEquality` will be able to take either DataFrames or Datasets as arguments.

I really like your idea of having "`assertEquals[U](expected: Dataset[U], result: Dataset[U])` which would indirectly call `assertSmallDataFrameEquality` and `assertLargeDataFrameEquality` dependi

[2017-05-29 23:46] MrPowers commented on #2
#6 has been merged with master!!  Now `assertSmallDatasetEquality` will work for both DataFrames and Datasets.  I'm really excited about this!

[2017-05-29 23:46] #2 closed

[2017-05-30 01:59] #3 closed

[2017-05-30 02:14] MrPowers opened #8 "Comparing Row equality in DatasetComparer"
Option 1: Use the built in [org.apache.spark.sql.Row#equals method](https://github.com/holdenk/spark-testing-base/blob/0a235cf9cd26b1152569618b110f0f73eb6d4181/src/main/1.6/scala/com/holdenkarau/spark/testing/DatasetSuiteBase.scala#L56)?

Option 2: Use something like the [approxEquals method](https://github.com/holdenk/spark-testing-base/blob/7191b78ce8160f5dc9e44a3a5751f771bac66848/src/main/2.0/s

[2017-05-30 02:18] MrPowers opened #9 "Create a generic assertDatasetEquality method"
`assertDatasetEquality[U](expected: Dataset[U], result: Dataset[U])` could indirectly call `assertSmallDatasetEquality` and `assertLargeDatasetEquality` depending on the size of dataset.

I'm not really sure of a good way to implement this.  `assertDatasetEquality` would need to run a count, which could be expensive.  The definition of a "large" Dataset would depend on the machine... we would some

[2017-05-30 03:09] MrPowers commented on #4
@eclosson @snithish - Any thoughts on this one?

When I switched spark-spec from spark-testing-base to spark-fast-tests, the test suite ran about 40% faster.  I'd like to quantify those gains a bit more scientifically.  Thanks in advance for the help.

[2017-05-30 03:44] snithish commented on #8
@MrPowers Option 3: Have a
[code]
So users could pass in their custom equality implementation and
[equality check](https://github.com/MrPowers/spark-fast-tests/blob/master/src/main/scala/com/github/mrpowers/spark/fast/tests/DatasetComparer.scala#L95) would become `equals(o1, o2)`. Thoughts?

[2017-05-30 03:54] MrPowers commented on #8
@snithish - Option 3 sounds really interesting!

Could we make `Row#equals` the default equality function and let users override it if they'd like to customize it?

Are you interested in starting a pull request for this one?

[2017-05-30 04:08] snithish commented on #8
@MrPowers I have started working on it. Will raise a PR ASAP

[2017-05-30 04:09] snithish commented on #9
@MrPowers I am stumbled by it too. Guess we could keep this issue open and get more views on it.

[2017-05-30 05:29] snithish commented on #8
@MrPowers #10 by default uses the equals method on the object. To make it easier for simple comparisons we would convert
[code]
in RowComparer as
[code]
to be in sync with spark-testing-base, thereby giving users flexibility to use their own delta . Thoughts?

[2017-05-30 05:46] snithish commented on #4
@MrPowers I think to begin with runtime benchmarking should suffice, quick searching lead me to [this](https://github.com/ktoso/sbt-jmh) very interesting tool. Would love to find out other methods.

[2017-05-31 04:36] MrPowers commented on #8
Merged in #10

[2017-05-31 04:36] #8 closed

[2017-05-31 04:38] MrPowers commented on #4
Thanks @snithish.  I'll run some benchmarking, get your thoughts on the accuracy of the benchmarking methodology, and then publish the results for the community.

This library will be very valuable if we can cut the run time of the test suite by 40%!!!

[2017-10-03 04:34] jdk2588 opened #11 "Can this library be used with Java ?"
I see the examples are with Scala, can this library be used with Java ?

[2017-10-05 02:30] MrPowers commented on #11
Thanks for the great question @jdk2588 😄

It looks like [it's possible to run a Scala JAR file in Java](https://stackoverflow.com/questions/29778327/how-to-run-scala-jar-file-within-java-file), but I don't know because I've never used Java.

You can [download the latest JAR file here](https://github.com/MrPowers/spark-fast-tests/releases/tag/v0.5.0) if you'd like to give it a shot.  Let me know wh

[2017-10-05 03:13] jdk2588 commented on #11
Question should be "Is the library tested with  Java" ?,  they are from JVM family so it can used.

[2017-10-05 12:59] MrPowers commented on #11
Unfortunately, the library is not tested with Java 😢

I'd add the tests, but I unfortunately don't know Java.  Sorry about that.

If you are able to test the methods with Java, let me know and I'll be happy to merge any code with master 😄

[2018-03-15 20:12] MrPowers opened #14 "Build a Spark 2.3 JAR file"

[2018-04-11 02:07] utdemir commented on #14
`2.2.1` one is also missing from Maven Central.

[2018-04-21 15:46] MrPowers opened #18 "Possibly remove the naiveEquality stuff"
It's a cool idea, but I need to explore if the cost of the additional code complexity is higher than the benefit of this customization option...

[2018-04-21 17:27] MrPowers opened #19 "Possibly add a asdfe() method so users don't have to type assertSmallDataFrameEquality"

[2018-05-23 19:23] khampson opened #20 "Issue with schemas and assertSmallDataFrameEquality"
Hi:

I was following your [Testing Spark Applications](https://medium.com/@mrpowers/testing-spark-applications-8c590d3215fa) Medium article, and ran into an issue relating to schemas and spark-fast-tests' `assertSmallDataFrameEquality` method.

I created the source DataFrame using `toDF` as suggested, and the expected `DataFrame` using an explicitly defined schema using a `List` of `StructField`s

[2018-05-23 19:28] khampson opened #21 "Enhancement suggestion for assertSmallDataFrameEquality"
Hi:

When `assertSmallDataFrameEquality` fails, the error message prints the top 5 rows of each `DataSet`. This makes it extremely difficult to tell what exactly is different, and therefore it's hard to know what to correct.

I found some code on [Stack Overflow](https://stackoverflow.com/a/44341940/3583500) that would diff the `DataSet`s and show the differences. I my case, I added some code base

[2018-05-23 22:38] MrPowers commented on #20
@khampson - I suggest using the `createDF` method [outlined in this blog post](https://medium.com/@mrpowers/manually-creating-spark-dataframes-b14dae906393) to avoid the `nullable` issue.  The `createDF` method is defined in [spark-daria](https://github.com/MrPowers/spark-daria).

That being said, I think you're right that the `assertSmallDataFrameEquality` method should have a `ignoreNullable` fl

[2018-05-24 00:57] khampson commented on #21
@MrPowers : Awesome, thanks!

[2018-05-24 01:06] khampson commented on #20
@MrPowers : Thanks! I'll try the `createDF` approach for now.

Thanks for looking into the `ignoreNullable` flag as well! I think that's ultimately the method I would prefer to use for my particular case (and probably for my "general case"), as if there was a discrepancy involving a null value, I imagine that would generally come to light as a discrepancy between actual and expected values for tha

[2018-06-01 17:31] MrPowers commented on #20
@khampson - I added the `ignoreNullable` option to the `assertSmallDataFrameEquality` method in this commit: https://github.com/MrPowers/spark-fast-tests/commit/178bbb154ed69e0da019b425811ee28a3c75599b

I'll send you another message when I do a release and an updated JAR file is accessible via JitPack.

[2018-06-03 07:33] MrPowers commented on #21
@khampson - I added a better error message in this commit: https://github.com/MrPowers/spark-fast-tests/commit/db8f1e6d582cdbdae8ecb3bf55f3a6c0e005fc57

I'll do a release soon, so we can try this out.  Hopefully the highlighting will help users identify differences easier!

[2018-06-03 07:34] MrPowers opened #22 "Update assertColumnEquality to add colors for the elements that are different."
Use color highlighting to make these diff tools easier to use.

[2018-06-04 17:28] khampson commented on #20
@MrPowers : Thanks!

[2018-06-04 17:41] khampson commented on #21
@MrPowers : Awesome! It looks like the new release I need is *v2.2.0_0.10.1*. I am currently including *spark-fast-tests* via `spDependencies`. Are there plans to place these new releases on _spark-packages.org?_

Thanks,
Ken

[2018-06-07 20:20] MrPowers commented on #21
@khampson - Can you try accessing the latest release via JitPack?  Here's the code that should work:

[code]

I need to figure out how to upload this to Maven as well.  I am going to drop Spark Packages support because that project has been broken for a long time and doesn't allow users to specify spark-fast-tests as a test dependency (the `% "test"` part is important in the code snippet above!).

[2018-06-14 20:08] khampson commented on #21
@MrPowers : `jitpack.io` as a `resolver` worked for me. I've pulled in the new release and ran some tests with deliberately mismatched data to see them come back as red in the list. This definitely makes it easier to tell which row(s) to look at.

Thanks,
Ken

[2018-06-16 23:31] MrPowers opened #23 "Make the DatasetSchemaMismatch exception message more readable"

[2018-06-16 23:32] MrPowers commented on #22
<img width="533" alt="screen shot 2018-06-16 at 5 54 57 pm" src="https://user-images.githubusercontent.com/2722395/41503237-a38efa5c-7193-11e8-92a0-1c8d9e87cd43.png">

These new error message are way easier to read.

[2018-06-16 23:32] #22 closed

[2018-07-16 08:28] lake4790k opened #24 "Jars in mavenrepo broken"
Seems all jars in mavenrepo only contain html javadocs not the code, eg
https://repo1.maven.org/maven2/com/github/mrpowers/spark-fast-tests_2.11/0.12.5/
all jars have same file size

[2018-08-03 17:27] rdefreitas commented on #24
I'm also seeing this same issue

[2018-08-04 14:44] MrPowers commented on #24
@lake4790k @rdefreitas - Thanks for bug report.  I tried really hard to figure this out ([see here](https://stackoverflow.com/questions/50893846/maven-jar-file-only-includes-html-files-not-scala-classes)), but wasn't able to figure out why the Maven Jar files only contain HTML / JS / image files and don't contain any of the actual project code - aaaahhhh!

I will try again.  Do either of you have

[2018-08-16 18:18] MrPowers opened #25 "assertColumnEquality doesn't work with floating point numbers"

[2018-08-18 14:57] MrPowers opened #26 "Update assertColumnEquality to print out the full rows as well"
Both printout formats would be nice

[2018-08-20 03:59] MrPowers opened #27 "Make an approximate Dataset equality method as well"
spark-testing-base has a good example of this

[2018-08-20 22:34] MrPowers commented on #24
@lake4790k @rdefreitas - I figured out how to get spark-fast-tests in Maven.  Can you try this?

[code]

Let me know if this works!

[2018-08-22 13:17] MrPowers opened #29 "Update assertApproximateDataFrameEquality to work with FloatType columns"

[2018-08-22 13:20] MrPowers opened #30 "assertLargeDatasetEquality enhancements"
Use `DatasetCountMismatch` for count differences.

Use `basicMismatchMessage` for DataFrames that aren't equal.

[2018-08-24 13:47] snithish opened #31 "Integrate with scalafmt"
Integrate with **scalafmt** to ensure coding consistency/standards across project.
https://scalameta.org/scalafmt/

[2018-08-24 15:53] #31 closed

[2018-08-24 17:12] MrPowers commented on #25
@snithish - Have you used `assertColumnEquality` yet?  It's way better than `assertSmallDataFrameEquality` usually...

Can you please help me get the `assertDoubleTypeColumnEquality ` method to work properly: https://github.com/MrPowers/spark-fast-tests/blob/master/src/main/scala/com/github/mrpowers/spark/fast/tests/ColumnComparer.scala#L50-L65

This method is broken for two reasons:

1. It doesn'

[2018-08-25 03:06] snithish commented on #25
@MrPowers I have not got a chance with use `assertColumnEquality` but seems to be interesting, I will try to fix it.

[2018-10-13 20:37] MrPowers opened #37 "assertSmallDataFrameEquality on DataFrames with StructType columns"
`assertSmallDataFrameEquality` doesn't work on DataFrames with StructType columns as illustrated in this PR: https://github.com/MrPowers/spark-fast-tests/pull/36

Need to fix this bug... not sure how yet.  Possibly will use `flattenSchema` and then do the comparison.

[2018-10-13 20:39] MrPowers opened #38 "Add assertStructTypeColumnEquality method"
I don't think the `assertColumnEquality` method will work for `StructType` columns.  Perhaps a `assertStructTypeColumnEquality` will be a nice addition.

[2018-10-19 15:17] rdefreitas opened #39 "Allow ErrorMessage formatting for scalatest users"
First off, fantastic library.

Secondly, I've incorporated spark-fast-tests into a project that was already using scalatest and maven, but when I run a failing test I get lines like so:

[code]

Is there a way to change the formatting to print like other scalatest messages?

[2018-10-19 15:54] snithish commented on #39
@rdefreitas I believe your `CI teamcity` removes the formatting when displaying the error message. When run in IntelliJ and a terminal the formatting is preserved.

<img width="968" alt="ErrorWithProperFormatting" src="https://user-images.githubusercontent.com/7392212/47229317-bd23e900-d3c7-11e8-8fac-982e4f875658.png">

Can you help out with a sample error message `teamcity` shows properly formatt

[2018-10-19 16:54] MrPowers commented on #39
Thanks for opening this issue @rdefreitas 😄

@snithish and I would love to replicate this bug, so we can figure out how to fix it!  Feel free to open up a pull request in the [spark-spec](https://github.com/MrPowers/spark-spec) project that illustrates the bug!

I mainly use spark-fast-tests with [utest](https://www.mungingdata.com/apache-spark/testing-with-utest), but am determined to make spark-

[2018-10-29 21:39] hche608 commented on #24
Still same issue

[2018-10-30 23:31] MrPowers commented on #24
Thanks @hche608.

The JAR files are [here](https://mvnrepository.com/artifact/MrPowers/spark-fast-tests?repo=spark-packages).

I am going to close this issue now.  Please reopen this if you need additional help accessing JAR files.  Thanks!

[2018-11-13 21:54] oscarvarto opened #41 "Support for Scala 2.12"
Hi @MrPowers !

Today I started my journey with Apache Spark, once I learned that Spark 2.4.0 can be run with Scala 2.12.
So, I forked your https://github.com/MrPowers/spark-sbt.g8 giter8 template, tweaked it somewhat to work with current stable Scala version,
and then I got a run-time error.

My hunch is that the release of spark-fast-tests I am using, is for Scala 2.11.X only, and might not be b

[2018-11-14 00:01] oscarvarto commented on #41
I started reviewing what are the dependencies for spark-fast-tests, to see if I could make a pull request.
However, I just noticed there is a circular dependency with spark-daria. So I don't know how to proceed.

First hunch is:

1. Try to get spark-daria cross compiling for Scala versions 2.11.12 and 2.12.7, simply ignoring those tests that require have a dependency on spark-fast-tests. Publish-l

[2018-11-15 16:09] MrPowers commented on #41
@oscarvarto - thanks for opening this issue & for the PRs.

I am going to start by removing the spark-daria dependency from spark-fast-tests, so we can circumvent the circular dependency issue entirely.

We can then work on getting spark-fast-tests built with Scala 2.12.  After that's done, we can focus on getting spark-daria built with Scala 2.12.  I'm looking forward to collaborating with you on

[2018-11-15 18:59] snithish commented on #41
This is interesting, I will have a look too, when I find some free time

[2018-11-15 21:33] MrPowers commented on #41
@oscarvarto - FYI, I eliminated the spark-daria dependency: https://github.com/MrPowers/spark-fast-tests/commit/60f49f5ce714d7e1eae767507333fe575d92b284

[2018-11-17 13:15] MrPowers opened #43 "OpenJDK 11 support"
See if we can get all tests passing with OpenJDK 11.

[2018-11-21 17:43] falloutall opened #45 "Wrap SparkSession in a Trait without hardcoding the arguments"
This question was asked [here](https://www.reddit.com/r/apachespark/comments/8vu7gw/how_to_wrap_sparksession_in_a_trait_without/).

I find it would be quite interesting to have some insight from the adviser of this coding style @MrPowers

Btw, thanks for this package I am using it and like it a much.

[2018-11-28 21:32] falloutall commented on #45
A work around I use is to hard code them when developping and remove the conf when packaging and supply them at runtime with spark-submit --conf flag.
To do that I just intantiate conf as following  :  'val conf = new SparkConf()'

[2018-11-28 21:32] #45 closed

[2018-12-15 23:04] MrPowers commented on #19
Changed my mind on this one.  Don't really like this idea.

[2018-12-15 23:04] #19 closed

[2018-12-15 23:06] MrPowers commented on #14
@utdemir - I added [a section to the README](https://github.com/MrPowers/spark-fast-tests/#setup) that shows the compatibility matrix between spark-fast-tests and different Spark versions.  All of the recent spark-fast-tests versions should work with Spark 2.2.1.

[2018-12-15 23:06] #14 closed

[2018-12-15 23:07] MrPowers commented on #41
Scala 2.12 support has been added.  Thanks for all the help everyone.

[2018-12-15 23:07] #41 closed

[2018-12-15 23:08] MrPowers commented on #4
I am still looking for ideas on how to benchmark this stuff professionally...

Going to add a Help Wanted label.

[2018-12-15 23:09] MrPowers commented on #11
If anyone is using this library with Java, please let me know how it is going for you!  Adding a help wanted tag!

[2018-12-15 23:10] MrPowers commented on #9
Don't think this is possible.  Closing this for now.

[2018-12-15 23:10] #9 closed

[2018-12-15 23:11] MrPowers commented on #20
@khampson - I forgot to follow up with you on this issue, but the JAR files with `ignoreNullable` are available (and have been for a while).  Let me know how it's working for you!

[2018-12-15 23:11] #20 closed

[2018-12-15 23:12] #21 closed

[2019-01-14 10:31] robvadai opened #46 "Publish sources"
It'd be good to publish the sources with the JAR so when a developer wants to find out implementation details the IDE can show that.

[2019-01-14 14:07] dvirtz commented on #46
+1
I've just meant to submit this request myself.

[2019-02-27 06:41] awhillas commented on #37
I don't know if this is related but `assertSmallDataFrameEquality` seems give me a weird error:

validateexternaltype(getexternalrowfield(assertnotnull(input[0, org.apache.spark.sql.Row, true]), 0, pressroom_id), IntegerType) AS pressroom_id#31
validateexternaltype(getexternalrowfield(assertnotnull(input[0, org.apache.spark.sql.Row, true]), 1, year), IntegerType) AS year#32
validateexternaltype(ge

[2019-02-27 11:43] MrPowers commented on #37
@awhillas - I don't think your issue is related, but this should solve your issue:

[code]

[2019-02-28 00:35] awhillas commented on #37
It did thanks! *embarrassed*

[2019-03-13 04:37] awhillas commented on #39
Just to add to this issue, its _very_ difficult to read schema missmatches. This is an example of what I'm getting using `sbt test`
[code]
having them in columns with the offenders in red (or another colour) would be very helpful.

Also, i'm getting the similar problems to @rdefreitas, but just the first example is on the same line as the message.

Thanks again for the great lib!

[2019-04-15 18:29] ggalves opened #49 "assertApproximateDataFrameEquality with ignoreNullable and orderedComparison flags"
The problem: I am comparing two dataframes with a DoubleType field, and this comparision needs to be approximate. But I'm having problems with schema because of nullable fields.

This flags would be very useful for my case. Is this possible?

[2019-04-16 04:21] MrPowers commented on #49
@ggalves - Sure, I added the `ignoreNullable` feature in this commit: https://github.com/MrPowers/spark-fast-tests/commit/3ea8d89d15bcee8452249f9e059b824caf658948

I will try to get on the `orderedComparison` feature soon.  Little too sleepy to do it right now.

[2019-04-16 04:40] MrPowers commented on #49
@ggalves - Have you looked at the `assertDoubleTypeColumnEquality` method?  That might help you solve your problem too as that method doesn't look at the nullable property or the column name.  Only downside is that it can only compare two columns, not two entire DataFrames.

[2019-04-16 14:02] ggalves commented on #49
Thank you for the feature!

About `assertDoubleTypeColumnEquality`, i haven't looked yet, may be interesting for my case. I'm taking a look at this today. Thanks again!

[2019-04-16 17:28] netvl opened #50 "Publish to Maven Central?"
I noticed that this library (which is awesome BTW!) was being published to Maven Central some time ago, but then stopped: https://search.maven.org/classic/#search|ga|1|spark-fast-tests (last release is in June 2018). Is it possible to publish newer versions to Maven Central again?

The issue is, using third-party repositories is often very hard in certain companies which only allow using a proxyin

[2019-04-16 21:47] MrPowers commented on #50
@netvl - Thanks for opening this issue.

I am bad with Maven and fought a losing battle last year.  Those libraries at [your link](https://search.maven.org/classic/#search|ga|1|spark-fast-tests) are actually malformed.

I tried to figure this out last year ([see here for details](https://stackoverflow.com/questions/50893846/maven-jar-file-only-includes-html-files-not-scala-classes)) and failed.

F

[2019-04-17 02:56] MrPowers commented on #49
@ggalves - I updated the `assertApproximateDataFrameEquality` method to optionally take the `ignoreNullable` and `orderedComparison` flags.  The new code has been released in v0.19.1.  Let me know how this code works for you!

[2019-04-17 16:17] ggalves commented on #49
@MrPowers thank you! But have you released v0.19.1? I couldn't find it

[2019-04-18 00:22] netvl commented on #50
The mvnrepository.com site is not a proper artifacts storage, from what I understand - it is just an aggregator of information about artifacts stored in different maven repositories. For example, specifically for this library it shows that it is available in a particular bintray repository:
![image](https://user-images.githubusercontent.com/280456/56328354-6f4c2b80-6133-11e9-9282-ba3f18098834.png)

[2019-04-18 02:13] MrPowers commented on #49
@ggalves - I'm grabbing it from Maven ([example here](https://github.com/MrPowers/spark-daria/commit/8e28aef7be7b7c5eb209c5454290d50c5979c53c)), but you're right, I forgot to do a release.

Here's the release link: https://github.com/MrPowers/spark-fast-tests/releases/tag/v0.19.1

Let me know if this works for you!

[2019-04-18 02:36] MrPowers commented on #50
@netvl - thanks for the detailed response.  I will try to figure this out and will keep you posted!

[2019-04-25 21:39] MrPowers commented on #49
@ggalves - Were you able to find the release OK?  Can I close this issue?

[2019-04-25 22:28] ggalves commented on #49
Hey, I'm sorry, I couldn't test it yet. I'm testing it tomorrow.

[2019-04-26 17:05] ggalves commented on #49
@MrPowers I tested it just now. `ignoreNullable` is working, but I couldn't find `orderedComparison` flag in `assertApproximateDataFrameEquality`

[2019-05-08 01:14] MrPowers commented on #49
@ggalves - Think I finally fixed this: https://github.com/MrPowers/spark-fast-tests/commit/28351e772a48e7968b6e90e674d1fb2b2853844f

Sorry for keeping on messing this one up.  See version 0.19.2.

Let me know if there is anything else you need.

[2019-05-08 15:35] ggalves commented on #49
@MrPowers This commit is what I need, thank you! Can you release 0.19.2, please?

[2019-05-09 18:10] MrPowers opened #52 "Change shuffle partitions when running tests"
@qnob opened an interesting pull request in spark-testing-base: https://github.com/holdenk/spark-testing-base/pull/291

It seems highly likely this would help the `assertLargeDataFrameEquality` method run faster.  Would this also help the `assertSmallDataFrameEquality` method run faster?  We should look into this...

[2019-05-09 18:16] MrPowers commented on #52
@qnob - just added this to spark-daria and it's making the test suite run faster: https://github.com/MrPowers/spark-daria/commit/834e62a66f3bda593e2436dff2fae65c28cb4995

[2019-05-28 09:57] belgacea opened #54 "NullPointerException while assertSmallDatasetEquality"
I try to unit test dataframe equality using spark-fast-tests, but I get a `NullPointerException` when I use `assertSmallDatasetEquality`. I don't understand why because I'm able to show the content of both dataframes before the assertion. [Anyone know what I'm missing ?](https://stackoverflow.com/questions/56291460/spark-unit-test-dataframe-equality)
[Logs](https://gist.githubusercontent.com/belga

[2019-05-28 12:59] MrPowers commented on #54
I responded to the SO question ;)

[2019-06-04 11:25] belgacea commented on #54
I finally find out that the problem came from the input data. I noticed that the csv were completely malformed, in addition to the fact that I should store them in the resource package instead of hard coding them... My bad :sweat:

[2019-06-04 11:25] #54 closed

[2019-06-12 12:18] belgacea opened #55 "Comparison error while assertApproximateDataFrameEquality"
Hello,
I'm trying to use the approximate equality assertion between 2 dataframes, but I get a exception saying that both dataframe doesn't have the same number of rows, which isn't true as you can see.
[code]
[code]
Note : There is a lot of `DoubleType` in those dataframes. Is this related to #29 ?

[2019-07-07 23:46] belgacea commented on #55
Hey @MrPowers ! Could you take a [look](https://gist.github.com/belgacea/b43956416dcd162948a88988e1a0dcca) when you have some time ?
I still don't get what's my issue on the assertApproximateDataFrameEquality function :/

[2019-07-22 22:02] rdefreitas commented on #39
I''m actually not running teamcity at all, which is part of the problem here... the error messages were all coming up, even in intellij, as being prefixed with ##teamcity

[2019-07-27 21:12] MrPowers commented on #55
@belgacea - Think [this commit](https://github.com/MrPowers/spark-fast-tests/commit/1a43a1c69f35fbed327359d4d47274c74fe24c9b) should fix the bug you noticed.

Can you bump your project to spark-fast-tests v0.20.0 and see if you get a better error message?

The library was throwing a count mismatch message when it really should have been throwing a content mismatch message.  The error message won't

[2019-07-30 13:45] belgacea commented on #55
Works like a charm ! Thank you very much :relaxed:

[2019-07-30 13:45] #55 closed

[2019-09-04 16:16] Gloix opened #57 "Detected merged artifact: Failed"
Trying to download the library using SBT but a warning is thrown:

    [info] Updating ...
    [info] downloading http://dl.bintray.com/spark-packages/maven/MrPowers/spark-fast-tests/0.17.2-s_2.11/spark-fast-tests-0.17.2-s_2.11.jar ...
    [info] 	[SUCCESSFUL ] MrPowers#spark-fast-tests;0.17.2-s_2.11!spark-fast-tests.jar (1873ms)
    [info] Done updating.
    [warn] 	Detected merged artifact: [FAI

[2019-09-04 16:34] Gloix commented on #57
I might have had an internet connection issue. Problem is fixed.

[2019-09-04 16:34] #57 closed

[2019-09-25 22:25] RooseveltAdvisors opened #58 "assertLargeDatasetEquality | False positives"
__Input:__
[code]
__Step:__
[code]

__Expected Result:__

- Result should be `True`

__Actual Result:__

- Result is `False`

__Solution:__
- Yuan to implement a new `assertLargeDatasetEqualityWithoutOrder` method.

[2019-11-25 08:53] sanjiv1980 opened #61 "Data Volume grown when ran Compaction API"
Hi Matt,

I have gone through your article that you have written(and youtube) , I wanted to say like they are just wonderful.Thank you very much for that.!!!

I have one question , which I observed and put across delta lake community as well .

I found like while doing compaction operation, data volume is growing like anything . I could not able to understand the reason behind it. Could you please

[2020-03-15 20:22] MrPowers opened #64 "assertSmallDataFrameEquality Scalatest bug"
<img width="1280" alt="Screen Shot 2020-03-15 at 3 18 07 PM" src="https://user-images.githubusercontent.com/2722395/76709874-690e5880-66d0-11ea-9f74-e984f2c46407.png">

The `assertSmallDataFrameEquality` method always shows the first row as failing, even when it's the same.  It's also not adding the line break before printing the first row comparison line.

utest is properly outputting the first l

[2020-03-21 11:30] kantjessica opened #65 "java.lang.NoSuchMethodError: com.github.mrpowers.spark.fast.tests.DatasetComparer.$init$"
Hi Guys,

I am about to use this nice framework in our tests (combined with scalatest). By simply copy-paste the sample code from your page. We have gotten the error as described in the title.

scalaVersion: 2.12.7
sparkVersion: 2.4.2
scalatestVersion: 3.1.1
spark-fast-testsVersion: 0.19.1

[code]

Can you guys help me out?

[2020-03-21 12:53] MrPowers commented on #65
Thanks for creating this issue.

My guess is that you're using the spark-fast-tests version that's for Scala 2.11.  Try this:

[code]

I was able to get `AnyFlatSpec` working with `DataFrameComparer` - see [this commit](https://github.com/MrPowers/scalatest-example/commit/ec28234bb180ed881492fb3ce11b02e80c9c60fb).

Here's the code:

[code]

Let me know if this solves your issue!

[2020-03-21 13:43] kantjessica commented on #65
Thanks Bro. you save my day!! :-)

[2020-03-21 13:43] #65 closed

[2020-03-31 10:58] MrPowers opened #68 "Make the Dataset equality inequality messages better"
Here's the current content inequality message:

<img width="1049" alt="Screen Shot 2020-03-31 at 5 33 18 AM" src="https://user-images.githubusercontent.com/2722395/78017109-6d15b980-7311-11ea-8a09-ba34fecf2846.png">

I think it'd be better to align this output.  It'd also be better to put "Actual Content | Expected Content" on a newline.

[code]

It'd be really nice to suppress all the info warnin

[2020-03-31 11:14] MrPowers commented on #68
@carlsverre @nvander1 @gorros - Can you please take a look and provide thoughts on the best error message we can provide users for DataFrame inequality comparisons?  Thanks!

[2020-03-31 11:22] MrPowers commented on #68
See here for the utest output that looks a lot nicer: https://github.com/MrPowers/spark-fast-tests/issues/64

[2020-04-01 11:49] gorros commented on #68
I agree.

[2020-04-01 22:40] carlsverre commented on #64
I would print a color reset code as the first line followed by a newline and then the `actual/expected` message.  I think Scalatest is not handing the first color escape code as can be seen in it printing `[34m`.  Possibly it's due to that being followed by `[frank` which may make the printer consumed for some reason.

[2020-04-01 22:42] carlsverre commented on #68
I like this but I would add spaces between the values:

[code]

Also consider outputting strings wrapped with `"` characters so it's obvious which parts of the row is inside and outside the string.  Consider the case that a string is empty or contains a comma

[2020-04-02 10:43] ricardogaspar2 opened #70 "assertSmallDataFrameEquality returning a boolean"
It would be nice if there was a method similar to `assertSmallDataFrameEquality` that returned a boolean instead of Unit/Exception.

[2020-04-02 11:06] MrPowers commented on #68
@gorros @carlsverre - Here's a PR to migrate spark-fast-tests back to Scalatest (it's currently using utest): https://github.com/MrPowers/spark-fast-tests/pull/69

I think it'll be easier to develop the optimal Scalatest output if this repo is actually using Scalatest ;)

Let me know your thoughts!

[2020-04-03 09:25] MrPowers commented on #68
Here's the current DataFrame comparison message:

<img width="1041" alt="Screen Shot 2020-04-02 at 5 03 56 PM" src="https://user-images.githubusercontent.com/2722395/78342824-81e78c80-755f-11ea-8174-aa86a89a0329.png">

Here's the new message (added in [this PR](https://github.com/MrPowers/spark-fast-tests/pull/71)):

<img width="766" alt="Screen Shot 2020-04-02 at 5 05 03 PM" src="https://user-ima

[2020-04-06 11:47] MrPowers opened #72 "Remove all references to deep in this library"
I just noticed that this code errors out in Scala 2.13!?

[code]

Here's the error message:

[code]

`sameElements` still works in Scala 2.13, so `Array(1, 2, 3) sameElements Array(1, 2, 3)` is fine.

Spark 3 will support Scala 2.12.  Not sure when Scala 2.13 will be supported by Spark, but might as well proactively make this library as compatible as possible.

Should probably start compiling this

[2020-04-06 12:00] MrPowers opened #73 "Is java.util.Arrays.equals faster for comparing ArrayType columns?"
See here: https://stackoverflow.com/a/49083566/1125159

Possibly create an `assertArrayColumnEquality` method that uses java.util.Arrays.equals under the hood if the performance is a lot better.

[2020-04-09 00:49] marcostong17 commented on #50
hi @MrPowers any luck with updating the artifacts to maven central? the artifacts available in there dont have the .class files for spark-fast-tests.

[2020-04-09 22:03] carlsverre commented on #68
Good catch - ScalaTest is almost certainly running trim on the string before printing it which will remove all leading/trailing whitespace.  I guess a null byte is also considered part of that...  If you can get blue to work I think that's better - dark grey can be set to be very similar to the shell bg color in some colorschemes.  This looks good to me though - love the new format!

[2020-04-15 11:52] MrPowers opened #74 "assertColumnEquality truncates long columns"
Here's some example code:

[code]

It'll output this error message:

![Screen Shot 2020-04-15 at 6 48 47 AM](https://user-images.githubusercontent.com/2722395/79334037-2fa25600-7ee5-11ea-9410-2d373c37b9a7.png)

`assertColumnEquality` should at least provide an option so the output doesn't truncate.  Something like `assertColumnEquality(df, "sentence1", "sentence2", truncate=false)`.

[2020-04-24 02:28] khampson commented on #68
@MrPowers : Re: brackets around the values, I would recommend keeping those, as it helps to avoid subtle issues around spaces and tabs and such that can affect inequality but be hidden without such delimiters.

I agree the alignment is definitely a plus.

I agree with @carlsverre that blue would be better than dark grey in terms of colors for equality.

[2020-05-10 21:17] suchitgupta01 opened #75 "After using the library my logging level has changed to INFO"
I was trying the library and found that after including it the logging changed to INFO from DEBUG.

I tried a few things but not working.

plugins.sbt:
`
logLevel := Level.Error
addSbtPlugin("com.eed3si9n" % "sbt-assembly" % "0.14.10")
addSbtPlugin("org.scoverage" % "sbt-scoverage" % "1.6.1")
`
spark session:
`
 SparkSession
      .builder
      .appName(appName)
      .master("local[2]")
      //

[2020-05-13 23:48] MrPowers commented on #75
@suchitgupta01 - thanks for opening the issue.

[Here are the logging settings I use](https://github.com/MrPowers/spark-spec/blob/master/src/test/resources/log4j.properties).

Create a `src/test/resources/log4j.properties` file, copy those settings in there, and let me know if that solves you problem 😄

[2020-05-14 02:02] suchitgupta01 commented on #75
@MrPowers I already have the file but somehow with the library, it is not working.

[2020-05-20 10:22] nightscape commented on #24
I know this is an old issue, but I was wondering why your artifacts have a non-standard naming scheme (the Scala version at the end).
I posted an [answer to your StackOverflow question](https://stackoverflow.com/questions/50893846/maven-jar-file-only-includes-html-files-not-scala-classes/61910635#61910635).
If this fixes the problem, it would be nice to use the standard naming scheme to make the r

[2020-05-20 15:43] MrPowers commented on #24
@nightscape - thanks for the message.  I will try to get this fixed with your suggestion.  Do you think I should follow this guide? https://leonard.io/blog/2017/01/an-in-depth-guide-to-deploying-to-maven-central/

I am open to suggestions!  Feel free to send me a pull request if you're feeling ambitious.  I really need to get this fixed for all the spark-fast-tests users!

[2020-05-23 21:37] nightscape commented on #24
Are you currently releasing manually and would like to do automated releases?
I've set this up in https://github.com/crealytics/spark-excel using https://github.com/olafurpg/sbt-ci-release along with the following Github Workflow https://github.com/crealytics/spark-excel/blob/master/.github/workflows/ci.yml

[2020-07-29 22:47] vpatel404 opened #78 "assertSmallDataFrameEquality throwing DatasetSchemaMismatch while schema is same but different column order"
Hi,

I am trying to use assertSmallDataFrameEquality for the test below.

[code]

Here is the function I am testing:

[code]
I am getting the following error

[code]

The schemas for both data frames are similar, only the order of columns is different. I was wondering if there is a way to ignore the order for the columns while comparing two data frames in scala-fast-test.

Thank you for your help

[2020-07-30 01:44] MrPowers opened #79 "Make it easy to compare DataFrames that are the same, but with different column ordering"
See this question: https://github.com/MrPowers/spark-fast-tests/issues/78

There's already an option to compare DataFrame that are equal, but have different row ordering.  This feature is to compare DataFrames that have different column orderings.

[2020-07-30 01:45] MrPowers commented on #78
@vpatel404 - thanks for opening this issue.  [spark-daria](https://github.com/MrPowers/spark-daria/) should be able to help:

[code]

We should add another optional flag to make it easier to compare DataFrames that have columns in different orders.  I added an issue to get this work done: https://github.com/MrPowers/spark-fast-tests/issues/79

Thanks for using this library and for opening the issu

[2020-07-30 02:11] vpatel404 commented on #78
That's very helpful! Thanks a lot. Did not think about exploring spark-daria.

[2020-07-30 02:11] #78 closed

[2020-08-14 14:33] cdemonchy-pro commented on #30
Here an example of what can happen
[code]

[2020-08-15 23:04] MrPowers commented on #30
![Screen Shot 2020-08-15 at 6 00 24 PM](https://user-images.githubusercontent.com/2722395/90323042-5f0fb080-df21-11ea-8da6-c38a5fa049ed.png)

@cdemonchy-pro - see above for the error message I'm currently getting when I recreate your test.  Can you please send me the spark-fast-tests version you're using?

[2020-08-16 09:26] cdemonchy-pro commented on #30
Well I am currently using version `2.3.1_0.15.0`
but I am working on a Databricks cluster (Apache Spark 2.4.5, Scala 2.11) that must be a specific quirk of it, sorry for the noise

[2020-10-13 12:28] MrPowers commented on #50
@netvl @marcostong17 - The artifacts have been published to Maven and can be accessed by adding this line to the `build.sbt` file:

[code]

Sorry it took so long and thanks for commenting.

[2020-10-13 12:28] #50 closed

[2020-10-25 14:36] gregbrowndev commented on #11
@MrPowers I recently picked up your Testing Spark Applications book. Unfortunately, my company insist on using Java to write our Spark apps. So will let you know if this library works out!

This ticket is a couple of years old. Do you know if anyone has had any success in Java?

[2021-02-04 09:19] miikargh opened #84 "Is it possible to expand DataSetContentMismatch?"
Is there a way to expand the diff so that I can see every column of the dataset? Otherwise it is impossible to see where the difference lies exactly.

[code]

[2021-02-05 03:19] MrPowers commented on #84
@miikargh - I [pushed up a fixed](https://github.com/MrPowers/spark-fast-tests/commit/d78854d876f7ca68ece7f21b30dc12db7bbb4e15) and released a new version.  Can you please try `libraryDependencies += "com.github.mrpowers" %% "spark-fast-tests" % "0.22.0" % "test"` and let me know if that fixes the issue?  Thanks!

[2021-02-05 06:57] miikargh commented on #84
@MrPowers Thanks for the quick fix! It is definitely better now as all the keys and values are visible. The formatting for case classes with many keys is still quite messy tho:

[code]

[2021-02-05 09:39] miikargh commented on #84
Oops. Some of the messiness was from my bad string formatting. Here is the output with better formats:

[code]

Still messy but better.

[2021-02-10 16:14] akuzni2 commented on #79
I'd actually like to help with this feature if possible as it would come in handy for my team.

[2021-02-10 16:28] MrPowers commented on #79
@akuzni2 - cool, feel free to send a PR ;)

Here's the current syntax for unordered row comparisons: `assertSmallDataFrameEquality(sourceDF, expectedDF, orderedComparison = false)`.

What do you think about this syntax for unordered Column comparisons? `assertSmallDataFrameEquality(sourceDF, expectedDF, orderedColumnComparison = false)`

It should be relatively straightforward to order the columns

[2021-02-10 21:26] akuzni2 commented on #79
@MrPowers - I'd like to take a look at it if you don't mind :) that might get me on a roll to help contribute to other things here

[2021-02-10 21:34] MrPowers commented on #79
@akuzni2 - sounds great, feel free to open up a pull request and let me know if you have any questions / need any help!

[2021-02-14 11:26] alfonsorr opened #86 "Spark 3 comparation of strings fail due to a missing method"
It looks like spark 3 deleted `dateToString` method in `org.apache.spark.sql.catalyst.util.DateTimeUtils` to prevent the use of SimpleDateFormat (a non thread safe use).

This implementation should have a custom implementation valid for spark 2.X and 3.X

[2021-02-14 20:47] akuzni2 commented on #79
Hey @MrPowers  I'm actually struggling to built the project. I've noticed in the github CI pipeline you're using JRE 8u275 and SBT 1.3.13. I've tried to build a docker image to install those specific things (so I don't mess up my local setup) however getting issues with the build.sbt file. I keep getting an error
[code]

Is there any special needs for building this project?

Heres my Dockerfile wh

[2021-02-15 02:00] MrPowers commented on #79
@akuzni2 - You can manage the Java versions on your machine with [jenv](https://mungingdata.com/java/jenv-multiple-versions-java/) or [sdkman](https://mungingdata.com/java/sdkman-multiple-versions-java-sbt-scala/)... if you're using a Mac at least.

Not sure about the Docker setup, but that shouldn't be needed.

Just just Java 8, install SBT, and you should be fine running `sbt test`.

[2021-02-15 02:15] MrPowers commented on #86
Merged this & made a release, thank you!

[2021-02-15 02:15] #86 closed

[2021-02-24 13:59] MrPowers opened #88 "Rename primary branch to main"

[2021-02-25 02:22] #18 closed

[2021-02-25 02:23] MrPowers commented on #24
This has been fixed thankfully, [see here for the Scala 2.12 JAR files](https://repo1.maven.org/maven2/com/github/mrpowers/spark-fast-tests_2.12/).  Thanks everyone for the help!

[2021-02-25 02:23] #24 closed

[2021-02-25 02:23] #43 closed

[2021-02-25 02:24] MrPowers commented on #27
`assertApproximateDataFrameEquality` was added.

[2021-02-25 02:24] #27 closed

[2021-02-25 02:25] MrPowers commented on #4
Benchmarks [added here](https://github.com/MrPowers/spark-fast-tests#why-is-this-library-fast).

[2021-02-25 02:30] MrPowers commented on #61
Looks like this conversation took place on the Delta issue, thanks!

[2021-02-25 02:30] #61 closed

[2021-02-25 02:30] #73 closed

[2021-02-26 18:17] MrPowers opened #89 "Add checkAnswer method"
Spark source code uses `checkAnswer` extensively in the test suite, [example here](https://github.com/apache/spark/blob/99b6af2dd2f3d1dfad6b3f9110657662afa45069/sql/core/src/test/scala/org/apache/spark/sql/StringFunctionsSuite.scala#L31-L33).

Port the method to this lib (make sure it's not tied to Scalatest in any way).

[2021-03-01 02:38] #23 closed

[2021-03-01 02:38] #52 closed

[2021-03-01 02:40] MrPowers commented on #75
Hmmm, not sure, but don't think logging is related to this lib.  Feel free to open this back up if I'm missing something and this lib is somehow messing up the logging stuff.  Thanks!

[2021-03-01 02:40] #75 closed

[2021-03-01 02:41] MrPowers commented on #39
Error messages should be better in the newer versions of this lib.  Feel free to open this back up / open up a new issue if you're still having issues with the error messages.  Thanks!

[2021-03-01 02:41] #39 closed

[2021-03-01 02:42] MrPowers commented on #64
This should be fixed now.

[2021-03-01 02:42] #64 closed

[2021-03-12 18:53] MrPowers commented on #88
Made this change

[2021-03-12 18:53] #88 closed

[2021-03-22 12:01] adrixgc opened #91 "Failed assert when using precision and orderedComparison"
The issue found regards the use of precision and orderedComparison = false
When orderedComparison is false, the library automatically orders the dataframe by taking the columns in alphabetical order. It may happen (like in the example below) that the first column in the order is the one that uses the "precision". Therefore, it can happen that by ordering the columns, the result is not the expected

[2021-03-23 22:08] MrPowers commented on #91
@adrixgc - Here's a fix: https://github.com/MrPowers/spark-fast-tests/pull/92

Looks like we can avoid the column ordering.  Let me know if this fix looks alright to you!

Thanks for reporting this edge case!

[2021-03-24 08:46] adrixgc commented on #91
@MrPowers I checked the PR and that solves the current problem. Could you run this test and check if it passes too?
[code]

[2021-03-24 14:12] MrPowers commented on #91
@adrixgc - you're right, thanks for the additional test case to illustrate the issue.

Pushed up [another commit](https://github.com/MrPowers/spark-fast-tests/pull/92/commits/20b1b5f4574a63c8c8007b0f77a94b11e7156b08) that only sorts the precise columns (not the float, decimal, or double) columns which should fix the issue.

Can you please take a look and let me know if this fix looks alright to yo

[2021-03-24 15:22] adrixgc commented on #91
Looks good to me! PR approved. Thanks for the quick response!

[2021-04-08 23:30] pkoplik24 opened #93 "Use sort order for second dataset when using orderedComparison = false & ignoreColumnNames = true"
If orderedComparison is set to false, then the unordered comparison will sort the columns to provide a sort order for the dataset.

def defaultSortDataset[T](ds: Dataset[T]): Dataset[T] = {
    val colNames = ds.columns.sorted
    val cols     = colNames.map(col)
    ds.sort(cols: _*)
  }

  If the expected and actual datasets have different column sort orders because the names are different (and

[2021-04-09 12:23] MrPowers commented on #93
@pkoplik24 - Thanks for pointing out this edge case.

I think the function should error out if orderedComparison=false and ignoreColumnNames=true.  We can have it return a descriptive error message that explains why the combination of options doesn't make sense.

Does that sound like an OK approach with you?

[2021-04-21 19:27] pkoplik24 commented on #93
Hey @MrPowers  sorry for the delay, busy week.

I actually do think this combination of parameters makes sense, which is how I came across this. I think the fix will be something similar to #91

As an example, I would expect this test to pass but it does not due to the row ordering.

` def transformation(inputDf: DataFrame): DataFrame = {
    import inputDf.sparkSession.implicits._
    inputDf.map

[2021-05-06 14:27] pkoplik24 opened #94 "Bintray Sunsetted"
Failed to collect dependencies at MrPowers:spark-fast-tests:jar:0.21.1-s_2.11: Failed to read artifact descriptor for MrPowers:spark-fast-tests:jar:0.21.1-s_2.11: Could not transfer artifact MrPowers:spark-fast-tests:pom:0.21.1-s_2.11 from/to spark-fast-tests (https://dl.bintray.com/spark-packages/maven/): Authorization failed for https://dl.bintray.com/spark-packages/maven/MrPowers/spark-fast-tes

[2021-05-06 14:30] MrPowers commented on #94
@pkoplik24 - thanks for reporting this.  JFrog unfortunately did a major disservice to the entire Scala community by shutting down Bintray.  Can you use `libraryDependencies += "com.github.mrpowers" %% "spark-fast-tests" % "0.23.0" % "test"` to fetch the dependency directly from Maven?

[2021-05-06 15:06] pkoplik24 commented on #94
Perfect, works fine. Thank you!

[2021-05-06 15:06] #94 closed

[2021-06-20 19:11] pkoplik24 commented on #93
Hey @MrPowers, any thoughts on this?

[2021-07-04 17:36] mlavengood-sayari opened #96 "bug: ignoreNullable doesn't work for nested StructTypes"
For test case:

[code]

Expected behavior with `ignoreNullable = true` should be a passed test. Instead, the test fails. This only seems to affect nested fields in StructType columns.

[2021-07-22 11:06] Dressingoak commented on #96
We have had this problem as well, and it makes it cumbersome to always set the right types on indented fields. I think #97 will fix this.
It especially became too complex to overcome since some of the subtypes of calculated DataFrames changed when we went from Spark 2 to Spark 3.

[2021-07-28 15:52] KevinMellott91 opened #98 "Question: Verification of Timestamp Values"
I was considering bringing PowerMock together with spark-fast-tests to provide the ability to verify column transformations involving the system clock (ex: _current_timestamp()_). This seems like a pretty common use case though, so I figured I'd check in with the community first.

Has anybody had any luck testing functionality that deals with the system clock, which to my understanding is sealed w

[2021-08-17 19:57] jasjyotsinghjaswal commented on #84
Hey You can have a look at my github project at https://github.com/jasjyotsinghjaswal/pyspark-datacol-diff . It can help you similar lines

[2021-11-28 08:31] r-nandi opened #100 "assertSmallDatasetEquality highlights wrong schema mismatch when ignoreNullable = true"

[2021-11-28 08:31] #100 closed

[2021-11-28 08:35] crazylab opened #101 "BUG: assertSmallDatasetEquality highlights wrong schema mismatch when ignoreNullable = true"
**How to Reproduce**:
[code]

**What is wrong:**
In the above case, ideally, schema mismatch should highlight column `c1` only.
Column `c2` is nullable. As I have set `ignoreNullable = true` it should not be highlighted in schema mismatch.

![Screenshot 2021-11-28 at 1 55 54 PM](https://user-images.githubusercontent.com/83529842/143735191-5e5a659e-91d6-40bf-9553-7685b5b61c17.png)

**Expected Behav

[2021-12-15 20:53] pkoplik24 commented on #93
@MrPowers Bump

[2021-12-28 10:03] vitalvi opened #102 "Support for scala 2.13 and spark 3.2"
Currently there is no 2.13 version of this package. Could you deploy it's support?

[2022-02-09 08:33] MrPowers commented on #102
@vitalvi - I did a Scala 2.13 release, [see here](https://repo1.maven.org/maven2/com/github/mrpowers/spark-fast-tests_2.13/).  Let me know if that works.  cc: @pbarsauskas

[2022-02-09 08:33] #102 closed

[2022-02-09 14:14] vitalvi commented on #102
yep, it works perfectly. Thanks a lot @MrPowers

[2022-02-18 14:00] #96 closed

[2022-04-11 16:07] nchammas commented on #101
What version of spark-fast-tests did you test this with?

[2022-04-11 16:15] nchammas opened #107 "Understanding how to browse/find releases"
Basic question, but I'm a bit confused as to how to find or browse through releases of spark-fast-tests.

* The [GitHub releases](https://github.com/MrPowers/spark-fast-tests/releases) page goes up to v1.0.0.
* A [recent commit](https://github.com/MrPowers/spark-fast-tests/commit/3aa57ae0530fd9c727e20ed406c4be3aff5a1698) mentions v1.2.0, however.
* This [Maven repository](https://mvnrepository.com

[2022-04-11 16:17] nchammas commented on #107
Oh, I think I found it in [this comment](https://github.com/MrPowers/spark-fast-tests/pull/106#issuecomment-1086024774):

https://repo1.maven.org/maven2/com/github/mrpowers/

Is that correct? It looks like latest release is indeed 1.2.0.

If so, feel free to close this issue. 😄

[2022-04-11 16:50] MrPowers commented on #107
@nchammas - thanks for creating this issue.

The links for the different JAR files by Scala version are in [this section of the README](https://github.com/MrPowers/spark-fast-tests#install).  Feel free to send a pull request with a clearer description / README layout.

Publishing this library has been an absolute nightmare.  You can see the pain and suffering as the dead bodies of artifacts floati

[2022-04-11 16:53] nchammas commented on #107
README's clear enough! My bad for not reading through it before posting this issue. 😅

[2022-04-11 16:53] #107 closed

[2022-04-25 19:19] aggubin commented on #11
Hi,

better late then never :)

I just started using spark-fast-tests in Java project at work

Steps:
1. maven dependency

		<dependency>
			<groupId>com.github.mrpowers</groupId>
			<artifactId>spark-fast-tests_2.12</artifactId>
			<version>1.2.0</version>
                         <scope>test</scope>
		</dependency>
2. public class MySparkTest implements DatasetComparer
3.  write the test
4. asse

[2022-04-25 19:29] almogtavor commented on #11
@aggubin can you add the code sample?

[2022-04-25 19:44] aggubin commented on #11
@[almogtavor](https://github.com/almogtavor)
see #2 and #4 that's all you need. Create you test Dataset<Row> from CSV or TXT or String, compare it to the actual Dataset<Row> from your method under test

[2022-04-26 11:55] MrPowers commented on #11
@aggubin - this is great!  Thank you!!!

Any chance you can send me a PR with README instructions for Java users?  Adding a little example to the [JavaSpark example project](https://github.com/MrPowers/JavaSpark) would be awesome too.  There are a lot of users that would appreciate this info!

[2022-04-27 02:21] aggubin commented on #11
Hi Matthew,

not sure what do you mean by PR, but here is .zip with sample code

two questions for you:

1. why you asserts have  "actual" first and "expected" second, whereas
junit  asserts are "expected" then "actual"?

2.  "assertSmallDatasetEquality()" shows only first two columns when test
fails, is there a way to print all columns, like DF.show(false)?

Cheers,
Alexander

On Tue, Apr 26, 202

[2022-04-27 14:14] MrPowers commented on #11
@aggubin - here are responses:

A PR is a "pull request"

Some test frameworks have actual first then expected second.  The junit syntax wasn't considered when building this library.

Feel free to open up a separate issue to discuss the output of `assertSmallDatasetEquality` in more detail.  For purposes of this discussion, we're focusing on adding documentation for Java users.  Changing the outpu

[2022-05-16 19:31] aggubin commented on #11
figured that "smallDataset" in "assertSmallDatasetEquality" is rather "narrow" dataset - 1-2 columns.

Using "assertApproximateDataFrameEquality" now to see row diffs:

assertApproximateDataFrameEquality(actual, expected, 1.0, false, false, false);

that produces OK-looking df that can be inspected

[2022-05-18 16:25] nightscape opened #108 "Allow relative precision in equality comparison"
Hi @MrPowers,

I'd like to switch over from spark-testing-base to spark-fast-tests in [spark-excel](https://github.com/crealytics/spark-excel).
I'm using property-based testing to cover a wide range of edge cases when writing and reading Excel files.
The problem with this is that I don't (want to) have control over the range of values for e.g. a `double` column.
When using `assertApproximateDataFr

[2022-06-02 13:16] mikenac commented on #68
I would love to see something that shows what column values are different. This is especially important for larger data frames that may have 50 columns.

[2022-06-02 13:30] mikenac opened #109 "Compare Row Contents"
I would love to see something that allows for the comparison of the data from a single row in one frame to the data from a single row in another frame. This is especially important when comparing very wide frames. For instance, comparing the string representation of 60 columns to find out what is different is very tedious.

[2022-09-24 02:31] apple-corps opened #112 "DateTypes or TimestampTypes using createDF"
I tried to figure out how to use createDF to validate dataFrames with DateTypes. I tried creating DateType using createDF. It appears that DateType might be a private class of Spark, so perhaps it's not possible. But metioning that in the Readme, or having an issue might help someone else out if it isn't possible. Otherwise perhaps I am just explaining my ignorance.

val expectedDF = spark.createD

[2022-09-25 05:07] apple-corps opened #113 "delete me"

[2022-09-25 05:14] apple-corps commented on #113
I tried version 1.3.0 (missing from the readme) and it looks like I still fail the test due to ordering issues.

[2022-09-25 05:21] #113 closed

[2022-10-11 09:24] aggubin commented on #11
my responses inline:

I probably won't  make a pull request just for Readme.md, feel free to use
my original reply as the Readme, it has all the steps
and the code I've sent for your Java subproject

ok

ok